<?xml version="1.0" encoding="UTF-8"?>
<!-- src/main/resources/mybatis-config.xml -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="logic.Hotel" alias="Hotel" />
		<typeAlias type="logic.User" alias="User" />
		<typeAlias type="logic.Board" alias="Board" />
		<typeAlias type="logic.Package" alias="Package" />
		<typeAlias type="logic.Final" alias="Final" />
		<typeAlias type="logic.Point" alias="Point" />
		
	</typeAliases>
	<mappers>
		<mapper resource="dao/mapper/Hotel.xml"/>
		<mapper resource="dao/mapper/Photo.xml"/>
		<mapper resource="dao/mapper/Room.xml"/>
		<mapper resource="dao/mapper/User.xml"/>
		<mapper resource="dao/mapper/Hreserve.xml"/>
		<mapper resource="dao/mapper/Board.xml"/>
		<mapper resource="dao/mapper/Package.xml"/>
		<mapper resource="dao/mapper/Final.xml"/>
		<mapper resource="dao/mapper/Review.xml"/>
		<mapper resource="dao/mapper/Point.xml"/>
	</mappers>
</configuration>